@import url('http://www.microsoft.com/typography/fonts/verdana');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .main {
        .header {
            background-color: #561209;
            color: #fff;
            .container {
                width: 90%;
                margin: 0 auto;
            }
            #header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 12vh;
                .header__right {
                    display: flex;
                    gap: 20px;
                    .name-user {
                        font: 30px Arial, Helvetica, sans-serif;
                    }
                    .change-lang {
                        background: transparent;
                        border: none;
                        color: #fff;
                        outline: none;
                        &:hover {
                            width: 45px;
                            height: 40px;
                            cursor: pointer;
                            border-radius: 5px;
                            box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.53);
                            -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.53);
                            -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.53);
                        }
                        option {
                            background: #561209;
                            color: #fff;
                        }
                    }
                }
            }

        }
        .middle {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #6c6c6c;
            width: 100%;
            height: 80vh;
            form {
                width: 30%;
                max-width: 100vw;
                gap: 10px;
                background: rgb(248, 247, 247);
                border-radius: 10px;
                box-shadow: 0 0 10px 2px rgba(100, 100, 100, .1);
                overflow: hidden;
                label {
                    font-family: Verdana;
                    font-size: 25px;
                    line-height: 49px;
                    letter-spacing: 0em;
                    text-align: center;                    
                    input {
                        margin-left: 10px;
                        height: 40px;
                        border-color: #561209;
                        padding: 10px;
                        font-size: 20px;
                    }
                }
                button {
                    background-color: #561209;
                    border: 0;
                    color: #fff;
                    width: 100%;
                    max-width: 100vw;
                    height: 40px;
                    cursor: pointer;
                    &:hover {
                        background-color: #a64437;
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .main {
        .middle {
            
            form {
                width: 60%;
                label {
                    input {
                        width: 40vw;
                    }
                }
            }
        }
    }
}

