.header {
    background-color: #561209;
    color: #fff;
    .container {
        width: 90%;
        margin: 0 auto;
    }
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 12vh;
        .header__left {
            cursor: pointer;
        }
        .header__right {
            display: flex;
            gap: 20px;
            .name-user {
                font: 25px Arial, Helvetica, sans-serif;
            }
        }
    }

}